
.contacts-container{
  width:100vw;
  height:80vh;
  background-image: url("./../../accets/images/4.jpg");
  background-repeat: no-repeat;
  background-size:cover;
	background-position:center;
}

.contacts-context{
  display: flex;
justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height:100%;

}
