.services-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.services-section{
  background-color: var(--dark);
  width: 100vw;
  height:90vh;
  margin: 10vh 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-context{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4%;
  height: 100%;
}

.services-text-block{
  display: flex;
  height: 100%;
  margin: 4%;
}

.services-text{
  display: block;
  flex-direction: column;
  align-items: start;
  height: 100%;
  padding: 12%;
	line-height: 150%;
  border: 1px solid var(--light);
  border-radius: 20px;
  color: var(--light);
  position: relative;
}

.services-text-title{
  color: var(--accent);
  font-size: 1.3rem;
	line-height: 160%;
  text-align:center;
  font-weight: 900;
}

.payment-btn{
 background-color: yellow;
 padding: 8px 15px;
 border-radius: 15px;
  text-decoration: none;
  font-weight: 600;
  color:black;
  position:absolute;
  bottom: 5%;
}

.payment-btn:hover{
  transform: scale(1.05);
  transition: linear .3s;
}


@media screen and (max-width: 1100px){
.services-context{
    flex-direction: column;
  }
  .services-section{
    height:100%;
  }
  
  .services-context{
    width:70%;
  }
  .services-text-block{
    width:85%;
  }

}

@media screen and (max-width: 960px){
  .services-context{
    flex-direction: column;
  }
  .services-section{
    height:100%;
  }

  .services-context{
    width:70%;
  }
  .services-text-block{
    width:85%;
  }
}