.slider-section {
  height: 50%;
  width: 60vw;
  margin: 5rem 0;
  max-width: 80vw;
}

.slider-container {
  margin: 0 auto;
  padding: 1rem;
}

.slider-section {
  width: 80vw;
  margin: 5rem auto;
  max-width: 80vw;
}

.title {
  text-align: center;
  margin-bottom: 3rem;  
}

.title p {
  font-size: 5rem;
  font-weight: 600;
  color: var(--blue);
  margin-bottom: 5rem;
}


.section-center {
  margin: 0 auto;
  margin-top: 4rem;
  width: 80vw;
  height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;

}

.person-img {
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 2px solid var (--blue);
  box-shadow: 0 5px 15px rgba(0 0 0 0.2);

}

article h4 {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--accent);
  margin-bottom: 1rem;
}

.person-title{
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: var(--dark);
}

.text {
  max-width: 80%;
  margin: auto;
  margin-top: 3rem;
  font-size: 1.4rem;
  line-height: 2;
  color: var(--dark)
}

.icon {
  font-size: 37rem;
  margin-top: 1rem;
  color: var(--dark);

}

.prev,
.next {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 200px;
  border: none;
  transform: translateY(-50%);
  background-color: var(--dark);
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s linear;
}

.prev:hover,
.next:hover {
  background-color: var(--yellow);

}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.slider-btn {
  width: 3rem;
  height: 3rem;
  color: var(--yellow);
  transition: all 0.1s linear;
}

.slider-btn:hover {
  color: var(--dark);
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: transition all 0.3s linear;
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

article.lastSlide {
  opacity: 1;
  transform: translateX(-100%);
}

article.nextSlide {
  opacity: 1;
  transform: translateX(100%);
}


@media screen and (max-width:992px) {
  .sliders-section {
    width: 70vw;
  }
  .title p {
    font-size: 3rem;
}
.person-img{
    width: 150px;
    height: 150px;
}
}

@media screen and (max-width: 768px) {
  .sliders-section {
    width: 95vw;
  }

    .title p {
    font-size: 3rem;
}

.person-img{
    width: 180px;
    height: 180px;
}

}

@media screen and (max-width:576px) {
  .sliders-section {
    width: 100%;
  }

  .title p {
    font-size: 2rem;
}
article h4{
    font-size: 1.2rem;
}
.person-img{
    width: 150px;
    height: 150px;
}
.person-title{
  font-size: 1.2rem;}
  .prev,
.next{
   width: 1.5rem;
  height: 1.5rem;
}

}