.payment-container{
   display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.payment-section{
background-color: var(--dark);
  width: 100vw;
  height:90vh;
  margin: 10vh 0 0;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.payment-context{
    display: flex;
  justify-content: center;
  align-items: center;
  padding: 4%;
  height: 100%;
}